@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  position: absolute;
  overflow-x: hidden; /*prevents x-scrolling*/
  background: #fff;
  min-height: 100vh;
}


#header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

#header .logo
{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  font-size: 3em;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;

}

#header .bar
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37%;

}

#header .bar li
{
  list-style: none;
  margin-left: 20px;
}

#header .bar li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  transition: 0.6s ease;
}

#header .bar li a:hover,
#header .bar li a.active
{
  background: #fff;
  color: #8A008A;
}

#header .socials{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
}

#header .socials li
{
  list-style: none;
  margin-left: 20px;
}

#header .socials li a
{
  text-decoration: none;
  color: #fff;
  transition: 0.6s ease;

}

#header .socials img{
  margin: 5px auto;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.bg2
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg2::before
{
  content: ''; /*commenting content out disables this feature*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #8A008A, transparent);
  z-index: 10;
}

.bg2 img
{
  position: absolute; /*responsible for background images in one page*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.bg2 #headertext /*put in front of background in HTML file to use*/
{
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho', cursive;
  transform: translateY(-50%);
}

.bg2 #headertext span
{
  font-size: 0.30em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Rancho', cursive;

}

#btn
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color:#8A008A;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translate(10%, -55%);
  font-family: 'Rancho', cursive;
}

#pgif
{
  text-decoration: none;
  display: inline-block;
  left: 47%;
  top: 10%;
  border-radius: 80px;
  border: 5px solid #fff;
}

.sec1
{
  position: relative;
  padding: 100px;
  background: #8A008A;
}

.sec1 h2
{
  font-size: 3.5em;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Rancho', cursive;
}

.sec1 h5
{
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;

}

.sec1 p
{
  font-size: 1.2em;
  color: #fff;
}

.sec1::before
{
  content: ''; /*commenting content out disables this feature*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #FFFBC8, transparent);
  z-index: 10;
}

.sec2
{
  position: relative;
  padding: 100px;
  background: #FFFBC8;
}

.sec2 h2
{
  font-size: 3.5em;
  color: #8A008A;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Rancho', cursive;
}

.sec2 h5
{
  font-size: 2.5em;
  color: #8A008A;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;

}

.sec2 p
{
  font-size: 1.2em;
  color: #8A008A;
}

.sec2::before
{
  content: ''; /*commenting content out disables this feature*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #8A008A, transparent);
  z-index: 10;
}

.sec3
{
  position: relative;
  padding: 100px;
  background: #8A008A;
}

.sec3 h2
{
  font-size: 3.5em;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Rancho', cursive;
}

.sec3 h5
{
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;

}

.sec3 p
{
  font-size: 1.2em;
  color: #fff;
}

.sec3::before
{
  content: ''; /*commenting content out disables this feature*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #FFFBC8, transparent);
  z-index: 10;
}

#Figma
{
  text-decoration: none;
  display: inline-block;
  border-radius: 80px;
  border: 2px solid #fff;
}

.sec4
{
  position: relative;
  padding: 100px;
  background: #FFFBC8;
}

.sec4 h2
{
  font-size: 3.5em;
  color: #8A008A;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Rancho', cursive;
}

.sec4 h5
{
  font-size: 2.5em;
  color: #8A008A;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;

}

.sec4 p
{
  font-size: 1.2em;
  color: #8A008A;
}

@media only screen and (max-width:850px){


  /*html, body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    position: relative;
  }*/

  /*html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .scroll {
    overflow: auto;
    height: 100%;
  }*/
  html {
   min-height: 100vh;
}

  #header
  {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
  }

  #header .logo
  {
    display: none;
  }

  #header .bar
  {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0px;
  }

  #header .bar li
  {
    list-style: none;
  }

  #header .bar li a
  {
    text-decoration: none;
    padding: 0.5px 0.5px;
    color: #fff;
    transition: 0.6s ease;
  }

  #header .socials{
    display: flex;
    position: absolute;
    right: 1%;
    top: 7.5%
  }

  #header .socials li
  {
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
  }

  #header .socials li a
  {
    text-decoration: none;
    color: #fff;
    transition: 0.6s ease;

  }

  #header .socials img{
    margin: 5px auto;
    cursor: pointer;
    width: 30px;
    height: auto;
  }

  #pgif
  {
    text-decoration: none;
    display: inline-block;
    left: 40%;
    top: 10%;
    border-radius: 80px;
    border: 5px solid #fff;
  }


  .sec2
  {
    position: relative;
    padding: 50px;
    background: #8A008A;
  }

  .sec3
  {
    position: relative;
    padding: 50px;
    background: #FFFBC8;
  }

  .sec4
  {
    position: relative;
    padding: 50px;
    background: #8A008A;
  }

  .sec2::before
  {
    content: ''; /*commenting content out disables this feature*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #FFFBC8, transparent);
    z-index: 10;
  }

  .sec3::before
  {
    content: ''; /*commenting content out disables this feature*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #8A008A, transparent);
    z-index: 10;
  }


}
